body{
     margin: 0;
     display: flex;
     align-items: center;
     text-align: center;
     flex-direction: column;
     background-color: #04132A;
     height: 1700px;
}
.header{
     justify-content: space-between;
     display: flex;
     text-align: center;
     align-items: center;
     color: #FFFFFF;
}

#i1,#i2,#i3{
     text-decoration: none;
     width: 360px;
     height: 49px;
     top: 1640px;
     left: 242px;
     gap: 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 36px;
     font-style: italic;
     font-weight: 700;
     line-height: 46.8px;
     text-align: left;
     color: #FFFFFF;
     margin-top: 90px;
     transition: .2s ease-in;
}
.trait{
     border-bottom: 1px solid #FFFFFF;
     width: 100%;
     margin: 20px auto;
}

#i1:hover,#i2:hover,#i3:hover{
     color: #DBAF52;
}
.projet-container{
     width: 1280px;
     height: 700px;
     top: 1765px;
     left: 90px;
     gap: 0px;
     opacity: 0px;
     background-color: #FFFFFF;

}
#titre{
     font-family: Raleway;
     font-size: 48px;
     font-style: italic;
     font-weight: 400;
     line-height: 30px;
     text-align: left;
     margin-left: 70px;
     text-decoration: underline 10px solid #DBAF52;
}

#presentation{
     width: 268px;
     height: 27px;
     top: 1873px;
     left: 120px;
     gap: 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 28px;
     font-style: italic;
     font-weight: 600;
     line-height: 36.4px;
     text-align: left;
     margin-left: 30px;
}
#p-container{
     width: 580px;
     height: 262.53px;
     top: 1915.47px;
     left: 120px;
     gap: 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 20px;
     font-style: italic;
     font-weight: 400;
     line-height: 30px;
     text-align: left;
     margin-left: 30px;
}

#presentation2{
     width: 451px;
     height: 30px;
     top: 1873px;
     left: 720px;
     gap: 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 28px;
     font-style: italic;
     font-weight: 600;
     line-height: 36.4px;
     text-align: left;
     margin-left: 670px;
     margin-top: -340px;

}
#p-container2{
     width: 600px;
     height: 185px;
     top: 1915px;
     left: 718px;
     gap: 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 20px;
     font-style: italic;
     font-weight: 400;
     line-height: 30px;
     text-align: left;
     margin-left: 670px;

}
#s1{
     color: #DBAF52;
}

.capture{
     width: 1440px;
     height: 670px;
     top: 2340px;
     gap: 0px;
     opacity: 0px;
     background-color: #FFFFFF;

}

#titre2{
     font-family: Raleway;
     font-size: 48px;
     font-style: italic;
     font-weight: 400;
     line-height: 30px;
     text-align: left;
     margin-left: 70px;
     text-decoration: underline 10px solid #DBAF52;
}
#img1{

     height:300px ;
     width:400px;
     
     margin-top:30px;
}
.c1{
    
     height: 360px;
     width: 470px;
     background-color: #04132A;
     margin-left: 200px;
}
#img2{
     height:300px ;
     width:400px;
    margin-top: 30px ;
    
}
.c2{
    
     height: 360px;
     width: 470px;
     background-color: #04132A;
     margin-left: 200px;
     margin-left: 650px;
     margin-top: -300px;
}

#img2{
     height:300px ;
     width:400px;
    margin-top: 30px ;
    
}
.c2{
    
     height: 360px;
     width: 470px;
     background-color: #04132A;
     margin-left: 200px;
     margin-left: 650px;
     margin-top: -300px;
}
#butt{
     width: Hug (174px)px;
     height: Fixed (60px)px;
     top: 4242px;
     left: 90px;
     padding: 12px 20px 12px 20px;
     gap: 16px;
     border-radius: 6px 0px 0px 0px;
     opacity: 0px;
     font-family: Raleway;
     font-size: 28px;
     font-style: italic;
     font-weight: 600;
     line-height: 36.4px;
     text-align: left;
     color:  #04132A;
     background-color: #FFFFFF ;
    
     transition: .2s ease-in;
}
#butt:hover{
     background-color: #04132A;
     color: #FFFFFF;
    
}